@media screen and (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}
/* Max width 768px */
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .gallery-images .pizza {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .gallery-images .fried {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .gallery-images .omelette {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .gallery-images .kofta {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .gallery-images .burger {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .gallery-images .pizza-slices {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .gallery-images .steak {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
}
/* From 768 to 992 */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .chefs-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.9375rem 2%;
  }
  .chef-item {
    -ms-flex-preferred-size: calc(100% / 2 - 2%);
    flex-basis: calc(100% / 2 - 2%);
  }
  .gallery-images {
    --gap: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 1600px;
  }
  .gallery-images picture {
    width: calc(calc(100% - var(--gap)) / 2);
  }
  .gallery-images .pizza {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .gallery-images .fried {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .gallery-images .omelette {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .gallery-images .kofta {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .gallery-images .burger {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .gallery-images .pizza-slices {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .gallery-images .steak {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .contact-details .contact {
    -ms-flex-preferred-size: calc(100% / 2 - 2%);
    flex-basis: calc(100% / 2 - 2%);
    padding: 0.625rem 1.25rem;
  }

  #contact-us form .inputs-container input {
    -ms-flex-preferred-size: 48.5%;
    flex-basis: 48.5%;
  }
  footer .container {
    gap: 0.75rem;
  }
  .about {
    -ms-flex-preferred-size: calc(100% / 2 - 2%);
    flex-basis: calc(100% / 2 - 2%);
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
  }
  .contact-us-details {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .supscription-inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .supscription-inputs input {
    width: 80%;
  }
}
/* From 992 to 1200 */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  #home .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 3.125rem;
  }
  #home .container > * {
    width: 40%;
    text-align: left;
  }
  .home-btns .btn-main {
    padding: 0.625rem 1.5rem;
    border-radius: 0px 100vh 100vh;
  }
  .chefs-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.9375rem 1.5%;
  }
  .chef-item {
    -ms-flex-preferred-size: calc(100% / 3 - 1.5%);
    flex-basis: calc(100% / 3 - 1.5%);
  }
  .gallery-images {
    --gap: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 950px;
  }
  .gallery-images picture {
    width: calc(calc(100% - var(--gap)) / 3);
  }

  .contact-details .contact {
    -ms-flex-preferred-size: calc(100% / 2 - 1%);
    flex-basis: calc(100% / 2 - 1%);
    padding: 10px 20px;
  }

  #contact-us form .inputs-container input {
    -ms-flex-preferred-size: 48.8%;
    flex-basis: 48.8%;
  }
  footer .container {
    gap: 12px;
  }
  .about {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
  }
  .contact-us-details {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -ms-flex-preferred-size: 38%;
    flex-basis: 38%;
  }
  .supscription-inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .supscription-inputs input {
    width: 85%;
  }
}
/* form 1200 to any screen after that */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
  .bars-icon,
  .close-icon {
    display: none;
  }
  #nav .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav-links {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
    padding: 0;
  }
  .nav-links li {
    font-size: 16px;
    padding: 0 1rem;
  }
  .nav-links li a:hover::after {
    width: calc(100% - 2rem);
  }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  #home .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 3.125rem;
  }
  #home .container > * {
    width: 35%;
    text-align: left;
  }
  .home-btns .btn-main {
    padding: 0.625rem 1.5rem;
    border-radius: 0px 100vh 100vh;
  }
  .chefs-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0.9375rem 1.5%;
  }
  .chef-item {
    -ms-flex-preferred-size: calc(100% / 3 - 1.5%);
    flex-basis: calc(100% / 3 - 1.5%);
  }
  .gallery-images {
    --gap: 1.5rem;
    height: 1000px;
  }
  .gallery-images picture {
    width: calc(calc(100% - var(--gap)) / 3);
  }
  .contact-details .contact {
    -ms-flex-preferred-size: calc(100% / 2 - 1%);
    flex-basis: calc(100% / 2 - 1%);
    padding: 10px 20px;
  }
  #contact-us form .inputs-container input {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }
  footer .container {
    padding: 50px 10px;
    font-size: 14px;
    gap: 15px;
  }
  .about,
  .contact-us-details {
    -ms-flex-preferred-size: calc(25% - 15px);
    flex-basis: calc(25% - 15px);
  }
  .subscription {
    -ms-flex-preferred-size: calc(50% - 15px);
    flex-basis: calc(50% - 15px);
  }
  .supscription-inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .supscription-inputs input {
    width: 74.9%;
  }
}
/* From 1400 to any screen after that */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
  .gallery-images {
    --gap: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 1300px;
  }
  .gallery-images picture {
    width: calc(calc(100% - var(--gap)) / 3);
  }
  #home .container {
    padding: 12rem 1.25rem;
  }
  #home .container > * {
    width: 28%;
    text-align: left;
  }
  #contact-us form .inputs-container input {
    -ms-flex-preferred-size: 49.2%;
    flex-basis: 49.2%;
  }
}
