/* MOBILE FIRST */
/* START GLOBAL STYLE */
:root {
  --default-color: #212529;
  --secondary-color: #505050;
  --tertiary-color: #7f7f90;
  --primary-color: #ce1212;
  --light-primary-color: #ff6b6b;
  --color-light: #fff;
  --color-light-grey: #eee;
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --primary-font: "Amatic SC", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --animation-duration: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--default-font);
  color: #212529;
  overflow-x: hidden !important;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--color-light);
  border-left: 1px solid var(--color-light-grey);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    var(--light-primary-color),
    var(--primary-color)
  );
  border-radius: 0.627rem;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}
::selection {
  background-color: var(--light-primary-color);
  color: #fff;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}
.light {
  display: none;
}
.container {
  width: 95%;
  margin: auto;
}
.btn-main {
  background-color: var(--primary-color);
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 2.5rem;
  color: #fff;
  font-size: 0.9375rem;
  transition: all 0.4s;
}
.btn-main:hover {
  background-color: #a10606;
}
.section-title {
  text-align: center;
  padding: 1.875rem;
}
.section-title h2 {
  font-size: 1rem;
  color: #4f4f5a;
  font-weight: 400;
  text-transform: uppercase;
}
.section-title p {
  font-family: var(--primary-font);
  font-size: 3.1rem;
}
.section-title p span {
  color: var(--primary-color);
}
img {
  display: block;
  width: 100%;
}
picture {
  width: 100%;
  display: block;
}
/* END GLOBAL STYLE */
/* Start Navbar */
#nav {
  position: fixed;
  width: 100%;
  z-index: 199990;
  background-color: var(--color-light);
  box-shadow: 0px 0px 0.84rem 0px #0000001b;
}
#nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
}

.logo a {
  font-size: 1.9rem;
  font-family: var(--default-font);
}

.logo::after {
  content: ".";
  color: var(--primary-color);
}
.nav-icons {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}
.nav-links {
  position: fixed;
  right: -100%;
  bottom: 0;
  top: 0;
  width: 70%;
  padding: 0.675rem;
  background-color: var(--color-light);
  box-shadow: 0px 0px 0.84rem 0px #0000001b;
  z-index: 7;
  transition: right var(--animation-duration) ease;
}
.nav-links ul {
  margin-top: 3.175rem;
}
.nav-links li {
  position: relative;
  padding-bottom: 1.5rem;
  font-size: 1.175rem;
  color: var(--tertiary-color);
  font-weight: 600;
  transition: all var(--animation-duration);
}
.nav-links:target {
  right: 0;
}
.nav-links li:hover {
  color: var(--secondary-color);
}
.close-icon {
  position: absolute;
  font-size: 1.875rem;
  right: 0.675rem;
  top: 0.675rem;
  color: var(--tertiary-color);
}

body:has(.home:target) li a[href="#home"],
body:has(.contact-us:target) li a[href="#contact-us"],
body:has(.gallery:target) li a[href="#gallery"],
body:has(.chefs:target) li a[href="#chefs"] {
  color: #222;
}
/* End navbar */
/* Start Home */
#home {
  background-color: #eee;
  display: flex;
  align-items: center;
}
#home .container > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#home .container {
  padding: 6.875rem 1.25rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 3.175rem;
}

.home-content h2 {
  font-family: var(--primary-font);
  font-size: 4.09rem;
}
.home-content p {
  margin: 1.25rem;
  color: #4f4f5a;
}
.home-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
}
.home-btns .video-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: all 0.4s;
}
.video-btn .icon {
  width: 3.125rem;
  height: 3.125rem;
  background-image: linear-gradient(
    to right,
    var(--primary-color) 0 50%,
    transparent 50% 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.925rem;
  margin-right: 0.625rem;
  position: relative;
}
.video-btn .icon::before {
  content: "";
  background-color: var(--color-light);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
}
.video-btn .icon i {
  z-index: 20;
}
.video-btn:hover {
  color: var(--primary-color);
}
#home picture img {
  width: 100%;
  display: block;
  filter: drop-shadow(4px 4px 9px #000a);
}
#home picture img:hover {
  animation: shake 1s infinite;
}

/* End Home */
/* Start Chefs */
#chefs {
  padding: 2.5rem 0.625rem;
}
.chefs-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.875rem;
  padding: 1.25rem 0;
}
.chef-item {
  background-color: #fff;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
  transition: all var(--animation-duration);
}
.social-medial-layer {
  position: absolute;
  background-color: #ffffff59;
  top: 1.25rem;
  right: -100px;
  padding: 0.625rem;
  border-radius: 0.625rem;
  transition: all var(--animation-duration) 0.2s;
}
.social-medial-layer li {
  padding: 6px;
  font-size: 1.125rem;
  color: #37373f66;
  transition: color 0.8s;
}
.social-medial-layer li:hover {
  color: var(--default-color);
}
.chef-item:hover {
  transform: scale(1.05);
}
.chef-item:hover .social-medial-layer {
  right: 0.5rem;
}
.chef-item picture {
  position: relative;
  width: 100%;
}
.chef-item picture::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4rem;
  background-repeat: repeat-x;
  background-image: url(../Images/team-shape.svg);
}
.chef-contnet {
  padding: 1rem 1.5rem 1.5rem;
}

.chef-contnet span {
  display: block;
  font-size: 0.875rem;
  color: var(--tertiary-color);
  margin: 0.375rem 0 0.625rem;
}
.chef-contnet p {
  font-size: 0.9375rem;
  color: var(--tertiary-color);
  margin: 0.625rem 0;
}
/* End Chefs */
/* Start Gallery */
#gallery {
  background-color: var(--color-light-grey);
  padding: 2.5rem 0.625rem;
}
.gallery-images {
  column-count: 1;
  gap: 1.25rem;
}
.gallery-images picture {
  position: relative;
  background-color: var(--color-light);
  border: 5px solid var(--color-light);
  overflow: hidden;
  break-inside: avoid;
  margin-bottom: 1.25rem;
  max-height: 100%;
}
.gallery-images picture .layer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  position: absolute;
  inset: 0;
  top: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  color: var(--color-light);
  transition: all var(--animation-duration);
}
.gallery-images picture:hover .layer p {
  width: 90%;
  font-size: 0.9375rem;
  color: var(--color-light-grey);
}
.gallery-images picture:hover .layer {
  top: 0;
}
.gallery-images picture img {
  width: 100%;
  transition: all var(--animation-duration);
  height: auto;
  display: block;
}
.gallery-images picture:hover img {
  transform: scale(1.1);
}

/* End Gallery */
/* Start Contact Us */
#contact-us {
  padding: 3.175rem 0.625rem;
}
#contact-us .container iframe {
  width: 100%;
  height: 21.875rem;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

#contact-us .contact-details {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  gap: 0.9375rem;
}
.contact-details .contact {
  background-color: var(--color-light-grey);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  flex-basis: 100%;
  border-radius: 5px;
}
.contact-details .contact .icon {
  min-width: 3.125rem;
  min-height: 3.125rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--color-light);
  margin-right: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-content h3 {
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}
.contact .contact-content p {
  color: var(--tertiary-color);
  font-size: 0.9375rem;
}
#contact-us form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light);
  gap: 0.935rem;
  padding: 1.25rem;
  box-shadow: 3px 3px 0.9375rem 0px rgba(0, 0, 0, 0.1);
}
#contact-us form .inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
#contact-us form .inputs-container input {
  flex-basis: 100%;
}
#contact-us form > * {
  width: 100%;
}
#contact-us form :is(input, textarea) {
  padding: 0.9375rem;
  font-family: var(--secondary-font);
  line-height: 1.4;
  border: 2px solid var(--color-light-grey);
  border-radius: 5px;
}
#contact-us form :is(input, textarea):focus,
.supscription-inputs input:focus {
  outline: none;
  border-color: var(--primary-color);
}
#contact-us form textarea {
  min-height: 9.375rem;
  max-height: 18.75rem;
  resize: vertical;
}

#contact-us form button {
  width: fit-content;
  margin-top: 1.125rem;
}
/* End Contact Us */
/* Start Footer */
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url(../Images/textured-metal-background.jpg);
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 1.25rem 0.625rem;
}
.about .logo-disc {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}
.about .logo-disc img {
  width: 2.5rem;
  height: 2.5rem;
}
.about .logo-disc h2 {
  color: var(--color-light);
}
.about p {
  color: var(--color-light-grey);
  margin: 0.625rem 0;
}
.about h3 {
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border-bottom: 2px solid #ddd6;
  text-align: center;
  color: var(--color-light);
}
.about .social-media-links {
  display: flex;
  justify-content: space-around;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}
.about .social-media-links li {
  color: var(--color-light);
  font-size: 1.5rem;
}
.subscription,
.about {
  width: 100%;
}
.subscription-content {
  color: white;
}
.subscription-content p {
  font-size: 0.9375rem;
  color: var(--color-light-grey);
  margin: 0.625rem 0;
}
.supscription-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin: 1.25rem 0;
}
.supscription-inputs input {
  padding: 0.625rem;
  font-family: var(--secondary-font);
  line-height: 1.4;
  border: 2px solid var(--color-light-grey);
  border-radius: 5px;
}
.supscription-inputs button {
  border-radius: 5px;
}
.subscription-links {
  color: var(--color-light);
}
.subscription-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 3%;
  margin: 10px 0;
}
.subscription-links ul li {
  flex-basis: calc(100% / 2 - 3%);
  padding: 0.25rem;
  font-size: 0.875rem;
  transition: all var(--animation-duration);
}
.subscription-links ul li i {
  margin: 0 6px 0 0;
}
.subscription-links ul li:hover {
  background-color: var(--secondary-color);
  transform: translateX(10px) scale(0.98);
  border-radius: 5px;
}
.contact-us-details {
  width: 100%;
  color: white;
  margin: 0.625rem 0;
}
.contact-us-details ul {
  margin: 0.625rem 0;
}
.contact-us-details ul li i {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.25rem;
  cursor: pointer;
}
.contact-us-details ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9375rem;
}
/* End Footer */
